nav{
  background-color: #434343;
 
}

h1 { 
  padding-top: 70px;
  text-align: center;
}


.App {
  text-align: center;
}

.photo{
  /* padding-top: 15px; */
  width: 100%;
  min-height: 100vh;
  margin-top: -2em;
  margin-bottom: 2em;
  background-size: cover;
  position: relative;


  /* -ms-background-position-x: center;
  -ms-background-position-y: bottom;
  background-position: center bottom;
  background-size: cover; */

}



.page-container{
  position: relative;
  min-height: 100vh;
}

.content-wrap{
  padding-bottom: 2.5rem;
}


.main-footer{
  /* min-height: 4vh; */
  background-color: #000000;
  position: absolute;
  bottom: 0;
  width:100%;
  padding-top: 3em;
  /* padding-bottom: 2.5rem; */ 
  padding: 20px;
  text-align: center;
  
}




.icon{
  width: 25px;
  height: auto;
  border-radius: 50%;
  margin-right: 3px;
  margin-left: 12px;
  margin-top: -.25vh;
  object-fit: cover;
}

.color{
  color: white;
  font-weight: 600;
  font-size: 16px;
}

.color:hover{
  font-weight: 600; 
  color: #eeaa44;
  position: relative;  
  /* transition-duration: 1 s;
  text-shadow: 0 0 3px #F5F5F5, 0 0 5px #F5F5F5;     */
}
/* 
.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background:black;
  color: white;
 
 }


 .mover{
   width: 50%;
   display: flex;
   justify-content :space-around;
   align-items: center;
   
 }

 /* .nav-links:hover{
} */

.currmover{
  /* color: rgb(252, 198, 118); */
  width: 50%;
  display: flex;
  justify-content :space-around;
  align-items: center;
  cursor: default;
}

.mover:hover {
  font-weight: 600; 
  position: relative;  
  transition-duration: 1 s;
  text-shadow: 0 0 3px #F5F5F5, 0 0 5px #F5F5F5;    
 } 



h3{
  color: white;
}
