nav{
  background-color: #434343;
}


.App {
  text-align: center;
}


#contact{
  min-height: 10vh;
  background-color: #000000;
  position: fixed;
  left: 0;
  bottom: 0;
  width:100%;
}



.container{
  padding-top: 2.5%;
  padding-bottom: 3%;
}
.center{
  text-align: center;
}

.icon{
  width: 25px;
  height: auto;
  border-radius: 50%;
  margin-right: 3px;
  margin-left: 12px;
  margin-top: -.25vh;
  object-fit: cover;
}

.color{
  color: white;
  font-weight: 600;
  font-size: 16px;
}

.color:hover{
  font-weight: 600; 
  color: #eeaa44;
  position: relative;  
  /* transition-duration: 1 s;
  text-shadow: 0 0 3px #F5F5F5, 0 0 5px #F5F5F5;     */
}
/* 
.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background:black;
  color: white;
 
 }


 .mover{
   width: 50%;
   display: flex;
   justify-content :space-around;
   align-items: center;
   
 }

 /* .nav-links:hover{
} */

.currmover{
  /* color: rgb(252, 198, 118); */
  width: 50%;
  display: flex;
  justify-content :space-around;
  align-items: center;
  cursor: default;
}

.mover:hover {
  font-weight: 600; 
  position: relative;  
  transition-duration: 1 s;
  text-shadow: 0 0 3px #F5F5F5, 0 0 5px #F5F5F5;    
 } 



h3{
  color: white;
}
