nav{
  background-color:black;
}

body {
  flex-direction: column;
  display: flex;
}

#tsparticles{
width: 100%;
height: 750px;
}

p {
  font-family: Chivo;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .01em;
  text-transform: none;
  line-height: 1.5em;
  font-size: 20px;
  letter-spacing: .02em;
}

h1 { 
  font-weight: 100;
  font-family: "Roboto", sans-serif;
}


.App {
  text-align: center;
}


.background-blue {
  background-position: "center";
  background-size: "cover";
  background-repeat: "no-repeat";
  /* height: 50%; */
  width: fit-content;
}

.btext {
  color: #f9f3f4;
  position: absolute;
  text-align: center;
  top: 45%;
  width: 100%;
  line-height: 0.4em;
}

.particles-js {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */

  background: linear-gradient(
    to bottom,
    #0a0e0f,
    #1f2122,
    #151616
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.boton {
  color: #f9f3f4;
  text-decoration: none;
  border: #ccc 1px solid;
  padding: 10px 15px;
  border-radius: 8px;
  line-height: 6em;
}

.boton:hover {
  text-decoration: none;
  background: #f9f3f4;
  color: rgba(0, 0, 0, 1);
  border: #f9f3f4 1px solid;
}



.main-footer{
  background-color: #000000;
  position: absolute;
  /* bottom: 0; */
  width:100%;
  padding-top: 2.5em;
  padding-bottom: 4em; 
  text-align: center;
}


.icon{
  width: 25px;
  height: auto;
  border-radius: 50%;
  margin-right: 3px;
  margin-left: 12px;
  margin-top: -.25vh;
  object-fit: cover;
}

.color{
  color: white;
  font-weight: 600;
  font-size: 16px;
}

.color:hover{
  font-weight: 600; 
  color: #eeaa44;
  position: relative;  
}


.mover:hover {
  font-weight: 600; 
  position: relative;  
  transition-duration: 1 s;
  text-shadow: 0 0 3px #F5F5F5, 0 0 5px #F5F5F5;    
 } 

.about-profile-pic {
  float: left;
  margin: 0 2.5em 1em 0;
  width: 80%;
}

.about{
  margin-top:7% ;
  margin-bottom: 3%;
}

.fun_activity{
  margin-bottom:3%;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25% ;/* Player ratio: 100 / (1280 / 720) */

}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}









